# Configuración general
* text=auto

# Especificar tipos de archivos que deben tratarse como texto
*.ts     text
*.tsx    text
*.js     text
*.jsx    text
*.json   text
*.css    text
*.html   text
*.md     text

# Especificar tipos de archivos binarios (no se deben modificar las terminaciones de línea)
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.svg    binary
